<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="container">
                <div>
                    <h1>404</h1>
                    <h2>Maaf, tidak ditemukan</h2>
                    <img class="img img-sm" src="{{url_for('static', filename='sad.png')}}" alt="">
                </div>
        </div>        
</body>
</html>